.carousel {
    border-bottom: 0.4rem solid $mainGray;
}

.carousel-caption {
    bottom: initial;
    color: black;
    font-size: 1.5rem;
    font-weight: 500;
    top: 50%;
    transform: translateY(-50%);

    @media (max-width: $smallScreen) {
        font-size: 1rem;
    }
}

.carousel-caption h3 {
    font-size: 2.4rem;

    @media (max-width: $smallScreen) {
        font-size: 1.5rem;
    }
}

.carousel-item img {
    opacity: 0.4;
}

.carousel-control-prev-icon {
    filter: invert(1);
}

.carousel-control-next-icon {
    filter: invert(1);
}

.carousel-indicators {
    filter: invert(1);
}
