.contact-modal {
    text-align: center;
}

#contact-modal__links {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.contact-modal__links-item {
    font-size: 1.1rem;
    margin: 1rem 1.2rem;
}

.contact-modal__links-item a {
    text-decoration: none;
    color: black;
}

.contact-modal__links-item a:hover {
    border-bottom: 1px solid black;
}

.contact-modal__footer {
    margin: 0 auto;
}
