.section-header {
    margin-bottom: 2rem;
    margin-top: 0;
    padding: 0;
    text-align: center;

    @media (max-width: $smallScreen) {
        font-size: 1.3rem;
        margin-bottom: 1rem;
    }
}
