.navbar {
    font-size: 1.1rem;
    padding: 1.2rem 0;

    @media (max-width: $smallScreen) {
        font-size: 1rem;
        padding: 1.2rem 0.5rem;
    }
}

.navbar-brand {
    font-size: 1.5rem;
}
