.search-output__weather {
    text-align: justify;
}

.search-output__accordian-header {
    background: #292b2c;
    border: none;
    color: white;
    text-transform: none;
    margin: 0;
    padding: 0;
}
