.form-row {
    padding: 0.8rem 0;
}

.form-row:first-child {
    padding-top: 0;
}

.form-row:last-child {
    padding-bottom: 0;
}

.search-form__container {
    margin: 0 auto;
    max-width: 45rem;
}

.search-form__group--flexspace {
    display: flex;
    justify-content: space-between;

    @media (max-width: $smallScreen) {
        flex-direction: column;
        margin-top: 0;
        padding: 0;
    }
}

.search-form__group--flexeven {
    border-top: 1px solid lighten(#292b2c, 40%);
    border-bottom: 1px solid lighten(#292b2c, 40%);
    display: flex;
    justify-content: space-evenly;

    @media (max-width: $smallScreen) {
        flex-direction: column;
        padding-bottom: 0;
    }
}

.search-form__tooltip {
    margin-left: 1rem;
}
